[core]
	editor = vim
[user]
	name = Mark Stevens
	email = stevens.mark.a@gmail.com

[alias]
  logp = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lol2 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) %C(bold yellow)%d%C(reset) - %C(bold green)(%ar)%C(reset) %C(bold white)%an%C(reset) %C(bold red)%s%C(reset) '
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  lola2 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) %C(bold yellow)%d%C(reset) - %C(bold green)(%ar)%C(reset) %C(bold white)%an%C(reset) %C(bold red)%s%C(reset) ' --all
